{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 pt-4 text-center">DELETE INVITATION</h1>
<br>

{% if view.kwargs.from == 'usr_list' %}
<div style="text-align:center">
<a href="{% url 'production:usr_list' prod_id=object.production.id %}">
<button type="button" class="btn btn-outline-light" style="color:#79c06e;">BACK</button></a>
</div>


{% else %}
<div style="text-align:center">
<a href="{% url 'production:prod_list' %}">
<button type="button" class="btn btn-outline-light" style="color:#79c06e;">BACK</button></a>
</div>
{% endif %}
<br>
<div style="width: 400px; margin: auto;">
<form method="post">{% csrf_token %}
    <div style="text-align:center">
    <p>Delete Invitation？</p>
    <button type="submit" class="btn btn-outline-light" style="color:#79c06e;">DELETE</button></a>
    
</form>

<table class="table">
    <tr><th>PROJECT</th><td>{{ object.production }}</td></tr>
    <tr><th>ID</th><td>{{ object.invitee.username }}</td></tr>
    <tr><th>NAME</th><td>{{ object.invitee.first_name }}</td></tr>
    <tr><th>LIMIT</th>
    {% if object.expired %}
        <td style="color:red;">{{ object.exp_dt }}</td>
    {% else %}
        <td>{{ object.exp_dt }}</td>
    {% endif %}
    </tr>
</table>
</div>
{% endblock %}
