{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 pt-4 text-center">DELETE MEMBER</h1>
<br><br>
<div style="text-align:center">
<a href="{% url 'production:usr_list' prod_id=object.production.id %}">
<button type="button" class="btn btn-outline-light" style="color:#79c06e;">BACK</button></a>
</div>
<br>

<div style="width: 400px; margin: auto;">
<form method="post">{% csrf_token %}
<div style="text-align:center">
    <p>Delete Member?</p>
    <button type="submit" class="btn btn-outline-light" style="color:#79c06e;">DELETE</button>
    
</form>

<table class="table">
    <tr><th>PROJECT</th><td>{{ object.production }}</td></tr>
    <tr><th>MEMBER</th><td>{{ object }}</td></tr>
    <tr><th>OWNER</th><td>{{ object.is_owner }}</td></tr>
    <tr><th>EDITER</th><td>{{ object.is_editor }}</td></tr>
</table>
</div>
{% endblock %}
